<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="./assests/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="./assests/css/register.css">
		<script>
			var password = document.getElementById("password")
, confirm_password = document.getElementById("confirm_password");

function validatePassword(){
if(password.value != confirm_password.value) {
confirm_password.setCustomValidity("Passwords Don't Match");
} else {
confirm_password.setCustomValidity('');
}
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
		

	</head>

	<body>

		<div class="wrapper"style="background-image: url('../assests/images/Background.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="../assests/images/Logo.png" alt="">
				</div>
				<form name="register" action="/register" method="POST">
					<h3 style="font-family:title;">New User</h3>
					<div class="form-wrapper">
						<input type="text" placeholder="UserName" class="form-control"required>
						<i class="zmdi zmdi-account"></i>
											</div>
					<div class="form-wrapper">
						<input type="tel" id="phone" class="form-control" placeholder="Mobile No" name="phone" pattern="[0-9]{10}"  required="required">
						<i class="zmdi zmdi-phone"></i>
					</div>
					<div class="form-wrapper">
						<input type="tel"  id="alternativephone" class="form-control" placeholder="Alternative Mobile No" name="phone" pattern="[0-9]{10}">
						<i class="zmdi zmdi-phone"></i>
					</div>
					
					<div class="form-wrapper">
						<input type="text" placeholder="Email Address" class="form-control"required>
						<i class="zmdi zmdi-email"></i>
						

					</div>
					<div class="form-wrapper">
						<select name="" id="" class="form-control"required>
							<option value="" disabled selected>Gender</option>
							<option value="male">Male</option>
							<option value="femal">Female</option>
							<option value="other">Other</option>
						</select>
						<i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" id="password" placeholder="Password" class="form-control"required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" id="confirm_password" placeholder="Confirm Password" class="form-control"required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Address" class="form-control"required>
						<i class="zmdi zmdi-pin"></i>
					</div>
					<div>
					<a href="/home" style="font-size:x-large"><button type="submit" class="btn btn-secondary">Register</button></a>
				</div>
					<div class="pcontainer">
						<a href="/login"><p style="text-align: center;">Have an account?Login</p></a>
					</div>
					
				</form>
			</div>
		</div>
		
	</body>
</html>